In [1]:
import pandas as pd
import numpy as np
import sys

print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [2]:
df = pd.read_csv('../data/carpetasFGJ_acumulado_2024_08.csv', low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006979 entries, 0 to 2006978
Data columns (total 21 columns):
 #   Column                Dtype
---  ------                -----
 0   anio_inicio           int64
 1   mes_inicio            object
 2   fecha_inicio          object
 3   hora_inicio           object
 4   anio_hecho            float64
 5   mes_hecho             object
 6   fecha_hecho           object
 7   hora_hecho            object
 8   delito                object
 9   categoria_delito      object
 10  competencia           object
 11  fiscalia              object
 12  agencia               object
 13  unidad_investigacion  object
 14  colonia_hecho         object
 15  colonia_catalogo      object
 16  alcaldia_hecho        object
 17  alcaldia_catalogo     object
 18  municipio_hecho       object
 19  latitud               float64
 20  longitud              float64
dtypes: float64(3), int64(1), object(17)
memory usage: 321.6+ MB

In [4]:
df.count()

anio_inicio             2006979
mes_inicio              2006979
fecha_inicio            2006976
hora_inicio             2006964
anio_hecho              2006435
mes_hecho               2006435
fecha_hecho             2006434
hora_hecho              2006095
delito                  2006979
categoria_delito        2006979
competencia              942961
fiscalia                2006977
agencia                 2006979
unidad_investigacion    2006001
colonia_hecho           1910528
colonia_catalogo        1889402
alcaldia_hecho          2001626
alcaldia_catalogo       1942364
municipio_hecho         2001626
latitud                 1911462
longitud                1911462
dtype: int64

In [5]:
print(df[df.isnull().any(axis=1)].count())

anio_inicio             1130511
mes_inicio              1130511
fecha_inicio            1130508
hora_inicio             1130496
anio_hecho              1129967
mes_hecho               1129967
fecha_hecho             1129966
hora_hecho              1129627
delito                  1130511
categoria_delito        1130511
competencia               66493
fiscalia                1130509
agencia                 1130511
unidad_investigacion    1129533
colonia_hecho           1034060
colonia_catalogo        1012934
alcaldia_hecho          1125158
alcaldia_catalogo       1065896
municipio_hecho         1125158
latitud                 1034994
longitud                1034994
dtype: int64

In [6]:
print(df[df.isnull().any(axis=1)].tail(20))

         anio_inicio mes_inicio fecha_inicio hora_inicio  anio_hecho  \
2006738         2024     Agosto   2024-08-31    16:14:00      2023.0
2006759         2024     Agosto   2024-08-31    16:42:00      2024.0
2006772         2024     Agosto   2024-08-31    17:03:00      2024.0
2006797         2024     Agosto   2024-08-31    17:47:00      2024.0
2006800         2024     Agosto   2024-08-31    17:48:00      2024.0
2006808         2024     Agosto   2024-08-31    18:07:00      2024.0
2006810         2024     Agosto   2024-08-31    18:12:00      2024.0
2006823         2024     Agosto   2024-08-31    18:34:00      2024.0
2006869         2024     Agosto   2024-08-31    20:18:00      2024.0
2006880         2024     Agosto   2024-08-31    20:39:00      2024.0
2006883         2024     Agosto   2024-08-31    20:49:00      2024.0
2006889         2024     Agosto   2024-08-31    21:06:00      2024.0
2006895         2024     Agosto   2024-08-31    21:12:00      2024.0
2006956         2024      Julio   2024-07-08    02:59:03      2024.0
2006959         2024      Julio   2024-07-20    15:48:54      2024.0
2006963         2024      Junio   2024-06-05    17:22:38      2024.0
2006968         2024      Junio   2024-06-10    14:12:19      2024.0
2006970         2024      Junio   2024-06-24    07:49:05      2024.0
2006973         2024      Junio   2024-06-30    08:43:01      2024.0
2006977         2024       Mayo   2024-05-13    04:41:22      2024.0

        mes_hecho fecha_hecho hora_hecho  \
2006738    Agosto  2023-08-01   12:00:00
2006759     Marzo  2024-03-07   23:30:00
2006772    Agosto  2024-08-28   20:00:00
2006797    Agosto  2024-08-31   15:20:00
2006800    Agosto  2024-08-30   13:50:00
2006808     Julio  2024-07-26   09:00:00
2006810    Agosto  2024-08-31   09:48:00
2006823    Agosto  2024-08-31   05:00:00
2006869    Agosto  2024-08-25   20:00:00
2006880    Agosto  2024-08-31   12:30:00
2006883    Agosto  2024-08-30   22:20:00
2006889    Agosto  2024-08-31   16:20:00
2006895    Agosto  2024-08-31   19:35:00
2006956     Junio  2024-06-23   23:00:00
2006959     Julio  2024-07-19   13:00:00
2006963     Junio  2024-06-04   22:00:00
2006968     Junio  2024-06-10   08:00:00
2006970     Junio  2024-06-24   07:54:00
2006973     Junio  2024-06-29   22:13:00
2006977      Mayo  2024-05-12   22:12:00

                                                    delito  \
2006738                                       ABUSO SEXUAL
2006759                                       ABUSO SEXUAL
2006772                               VIOLACION EQUIPARADA
2006797          ROBO A PASAJERO EN TROLEBUS SIN VIOLENCIA
2006800                                    ROBO DE OBJETOS
2006808                               VIOLACION EQUIPARADA
2006810                  PERDIDA DE LA VIDA POR ENFERMEDAD
2006823                                 VIOLENCIA FAMILIAR
2006869                  ROBO DE MOTOCICLETA SIN VIOLENCIA
2006880               ROBO A CASA HABITACION SIN VIOLENCIA
2006883                  ROBO DE MOTOCICLETA CON VIOLENCIA
2006889  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...
2006895        ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO
2006956  ROBO A TRANSEUNTE A BORDO DE TAXI PÚBLICO Y PR...
2006959  DAÑO EN PROPIEDAD AJENA CULPOSA POR TRÁNSITO V...
2006963           LESIONES INTENCIONALES POR ARMA DE FUEGO
2006968           LESIONES INTENCIONALES POR ARMA DE FUEGO
2006970           LESIONES INTENCIONALES POR ARMA DE FUEGO
2006973           LESIONES INTENCIONALES POR ARMA DE FUEGO
2006977                                 PLAGIO O SECUESTRO

                                      categoria_delito  ...  \
2006738                         DELITO DE BAJO IMPACTO  ...
2006759                         DELITO DE BAJO IMPACTO  ...
2006772                                      VIOLACIÓN  ...
2006797                         DELITO DE BAJO IMPACTO  ...
2006800                         DELITO DE BAJO IMPACTO  ...
2006808                                      VIOLACIÓN  ...
2006810                             HECHO NO DELICTIVO  ...
2006823                         DELITO DE BAJO IMPACTO  ...
2006869           ROBO DE VEHÍCULO CON Y SIN VIOLENCIA  ...
2006880                         DELITO DE BAJO IMPACTO  ...
2006883           ROBO DE VEHÍCULO CON Y SIN VIOLENCIA  ...
2006889           ROBO DE VEHÍCULO CON Y SIN VIOLENCIA  ...
2006895                         DELITO DE BAJO IMPACTO  ...
2006956  ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA  ...
2006959                         DELITO DE BAJO IMPACTO  ...
2006963  LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO  ...
2006968  LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO  ...
2006970  LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO  ...
2006973  LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO  ...
2006977                                      SECUESTRO  ...

                                                  fiscalia    agencia  \
2006738      FISCALÍA DE INVESTIGACIÓN DE DELITOS SEXUALES      FDS-6
2006759      FISCALÍA DE INVESTIGACIÓN DE DELITOS SEXUALES      FDS-6
2006772      FISCALÍA DE INVESTIGACIÓN DE DELITOS SEXUALES      FDS-2
2006797  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN CUAUH...  UAT-CUH-8
2006800  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN BENIT...   UAT-BJ-1
2006808  FISCALÍA DE INVESTIGACIÓN DE DELITOS COMETIDOS...         59
2006810  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN GUSTA...  UAT-GAM-3
2006823   FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN TLALPAN  UAT-TLP-3
2006869   FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN TLALPAN  UAT-TLP-3
2006880  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN MILPA...  UAT-MIL-1
2006883  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN AZCAP...   UAT-AZ-4
2006889   FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN TLÁHUAC  UAT-TLH-2
2006895   FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN TLALPAN  UAT-TLP-1
2006956  FISCALÍA DE INVESTIGACIÓN DE DELITOS COMETIDOS...        GAP
2006959   FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN TLALPAN  UAT-TLP-5
2006963  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN ALVAR...   UAT-AO-4
2006968  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN IZTAP...      IZP-6
2006970  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN GUSTA...  UAT-GAM-4
2006973  FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN ALVAR...   UAT-AO-4
2006977   FISCALÍA DE INVESTIGACIÓN TERRITORIAL EN TLALPAN  UAT-TLP-5

                     unidad_investigacion                      colonia_hecho  \
2006738                          FDS-6-03                                NaN
2006759                          FDS-6-03                                NaN
2006772                          FDS-2-03                                NaN
2006797                            UI-1SD                                NaN
2006800                    1 SIN DETENIDO                                NaN
2006808                            UI-3CD                                NaN
2006810                            UI-1SD                                NaN
2006823                            UI-1SD                 SANTO TOMAS AJUSCO
2006869                            UI-1SD                          TLALMILLE
2006880                            UI-1SD  TENANTITLA (SAN ANTONIO TECOMITL)
2006883                            UI-3SD                                NaN
2006889                            UI-3SD                  BARRIO CALYEQUITA
2006895                            UI-1SD                      SAN NICOLÁS 2
2006956  Unidad de investigación LGBT2C/D                                NaN
2006959                            UI-1SD                                NaN
2006963                            UI-1SD                                NaN
2006968                            UI-2SD                                NaN
2006970                            UI-1SD                                NaN
2006973                            UI-1SD                                NaN
2006977                            UI-1SD                                NaN

        colonia_catalogo        alcaldia_hecho     alcaldia_catalogo  \
2006738              NaN            CUAUHTEMOC                   NaN
2006759              NaN            CUAUHTEMOC                   NaN
2006772              NaN        ALVARO OBREGON                   NaN
2006797              NaN  CDMX (indeterminada)  CDMX (indeterminada)
2006800              NaN  CDMX (indeterminada)  CDMX (indeterminada)
2006808              NaN  CDMX (indeterminada)  CDMX (indeterminada)
2006810              NaN     GUSTAVO A. MADERO                   NaN
2006823              NaN               TLALPAN               Tlalpan
2006869              NaN               TLALPAN               Tlalpan
2006880              NaN            MILPA ALTA            Milpa Alta
2006883              NaN         FUERA DE CDMX         Fuera de CDMX
2006889              NaN               TLAHUAC               Tláhuac
2006895              NaN               TLALPAN               Tlalpan
2006956              NaN         FUERA DE CDMX         Fuera de CDMX
2006959              NaN         FUERA DE CDMX         Fuera de CDMX
2006963              NaN        ALVARO OBREGON                   NaN
2006968              NaN         FUERA DE CDMX         Fuera de CDMX
2006970              NaN         FUERA DE CDMX         Fuera de CDMX
2006973              NaN        ALVARO OBREGON                   NaN
2006977              NaN  CDMX (indeterminada)  CDMX (indeterminada)

                     municipio_hecho    latitud   longitud
2006738                         CDMX        NaN        NaN
2006759                         CDMX        NaN        NaN
2006772                         CDMX        NaN        NaN
2006797                         CDMX        NaN        NaN
2006800                         CDMX        NaN        NaN
2006808                         CDMX        NaN        NaN
2006810                         CDMX        NaN        NaN
2006823                         CDMX  19.214332 -99.211659
2006869                         CDMX  19.259558 -99.185444
2006880                         CDMX  19.219910 -99.002116
2006883          TLALNEPANTLA DE BAZ        NaN        NaN
2006889                         CDMX  19.251552 -99.007031
2006895                         CDMX  19.267304 -99.234319
2006956          NAUCALPAN DE JUAREZ        NaN        NaN
2006959                    HUITZILAC        NaN        NaN
2006963                         CDMX        NaN        NaN
2006968  VALLE DE CHALCO SOLIDARIDAD        NaN        NaN
2006970               NEZAHUALCOYOTL        NaN        NaN
2006973                         CDMX        NaN        NaN
2006977                         CDMX        NaN        NaN

[20 rows x 21 columns]

In [7]:
df2 = df.copy()

In [8]:
#Eliminamos las filas con Nan
df2 = df2.dropna()

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 876468 entries, 443815 to 2006978
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   anio_inicio           876468 non-null  int64
 1   mes_inicio            876468 non-null  object
 2   fecha_inicio          876468 non-null  object
 3   hora_inicio           876468 non-null  object
 4   anio_hecho            876468 non-null  float64
 5   mes_hecho             876468 non-null  object
 6   fecha_hecho           876468 non-null  object
 7   hora_hecho            876468 non-null  object
 8   delito                876468 non-null  object
 9   categoria_delito      876468 non-null  object
 10  competencia           876468 non-null  object
 11  fiscalia              876468 non-null  object
 12  agencia               876468 non-null  object
 13  unidad_investigacion  876468 non-null  object
 14  colonia_hecho         876468 non-null  object
 15  colonia_catalogo      876468 non-null  object
 16  alcaldia_hecho        876468 non-null  object
 17  alcaldia_catalogo     876468 non-null  object
 18  municipio_hecho       876468 non-null  object
 19  latitud               876468 non-null  float64
 20  longitud              876468 non-null  float64
dtypes: float64(3), int64(1), object(17)
memory usage: 147.1+ MB

In [10]:
df2.drop_duplicates(inplace=True)

In [12]:
#Eliminaremos las columnas que no ocuparemos para el análisis, lo único que me importa es las columnas de _inicio debido que
#es la info cuando se registró el delito y las columnas _hecho es cuando se hizo la denuncia

df2 = df2.drop(['anio_hecho', 'mes_hecho', 'fecha_hecho', 'hora_hecho'], axis=1)

In [15]:
df2['fecha_hora'] = pd.to_datetime(df2['fecha_inicio'] + ' ' + df2['hora_inicio'], format='%Y-%m-%d %H:%M')

In [17]:
df2 = df2.drop(['fecha_inicio', 'hora_inicio'], axis=1)

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 876390 entries, 443815 to 2006978
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   anio_inicio           876390 non-null  int64
 1   mes_inicio            876390 non-null  object
 2   delito                876390 non-null  object
 3   categoria_delito      876390 non-null  object
 4   competencia           876390 non-null  object
 5   fiscalia              876390 non-null  object
 6   agencia               876390 non-null  object
 7   unidad_investigacion  876390 non-null  object
 8   colonia_hecho         876390 non-null  object
 9   colonia_catalogo      876390 non-null  object
 10  alcaldia_hecho        876390 non-null  object
 11  alcaldia_catalogo     876390 non-null  object
 12  municipio_hecho       876390 non-null  object
 13  latitud               876390 non-null  float64
 14  longitud              876390 non-null  float64
 15  fecha_hora            876390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(12)
memory usage: 113.7+ MB